:root {
  --bgColor: #fafafa;
  --mainColor: #1c1919;
  --lightMain: #a4a4a5;
  --secondary: #069dff;
  --lightSecondary: #e2f1fb;
  --cardsBg: #fff;
}

.about {
  width: 90%;
  margin: auto;
  display: flex;
  margin-top: 10vh;
  justify-content: space-between;
}

.aboutLeft {
  width: 40%;
}

.aboutLeft > img {
  width: 100%;
  border-radius: 10px;
}

.aboutRight {
  width: 50%;
}

.aboutRightTitle {
  font-size: 2rem;
  color: var(--secondary);
  margin-bottom: 20px;
}

.aboutRightText1 {
  font-size: 1.5rem;
  color: var(--mainColor);
  margin-bottom: 20px;
}

.aboutRightText2 {
  color: var(--lightMain);
}

@media screen and (max-width: 768px) {
  .about {
    display: block;
  }

  .aboutLeft {
    width: 60%;
    margin-right: 10px;
    float: left;
  }

  .aboutRight {
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  .about{
    margin-top: 0;
  } 

  .aboutLeft {
    width: 100%;
  }

  .aboutRightTitle {
    font-size: 1.5rem;
    /* color: #069dff; */
    /* margin-bottom: 20px; */
  }

  .aboutRightText1 {
    font-size: 1.2rem;
  }
}