:root {
  --bgColor: #fafafa;
  --mainColor: #1c1919;
  --lightMain: #a4a4a5;
  --secondary: #069dff;
  --lightSecondary: #e2f1fb;
  --cardsBg: #fff;
}

.contactSegment {
  background-color: var(--lightSecondary);
  display: flow-root;
}

.contactHeader {
  text-align: center;
  color: var(--secondary);
  font-size: 2rem;
  margin: 3rem;
}

.contactSegment1 {
  width: 90%;
  margin: auto auto 3rem;
  display: flex;
}

.connect {
  width: 50%;
}

.connectHeader {
  color: var(--secondary);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.icons{
  display: flex;
}

.iconDiv {
  width: 30px;
  margin: 20px 10px 0 0;
}

.icon {
  width: 100%;
}

.message {
  background-color: var(--cardsBg);
  border-radius: 5px;
  padding: 20px 0;
}

.messageHeader {
  color: var(--mainColor);
  font-size: 1.5rem;
  width: 80%;
  margin: 0 auto 10px;
}

.messageHeader1 {
  width: 80%;
  margin: 0 auto 10px; 
}

form {
  width: 80%;
  margin: auto;
}

.textField {
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--lightSecondary);
  color: var(--secondary);
  font-size: 1.1rem;
  height: 2.5rem;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.textArea {
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--lightSecondary);
  color: var(--secondary);
  font-size: 1.1rem;
  height: 4rem;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.textField:focus, .textArea:focus {
  border: var(--secondary) 1px solid;
  outline: none;
}

.textField:autofill {
  -webkit-text-fill-color: var(--secondary);
  transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
  font-size: 18px;
  font-family: blenda;
  color: var(--secondary);
  opacity: 0.5;
}

.textArea::placeholder {
  font-size: 21px;
  opacity: 0.5;
}

.formButton {
  width: 25%;
  height: 40px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: var(--secondary);
  border: var(--secondary) 1px solid;
  color: var(--lightSecondary);
}

@media screen and (max-width: 768px) {
  .deskOnly {
    display: none;
  }

  .contactSegment1 {
    display: block;
  }
  
  .icons {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .tablet {
    display: none;
  }

  .contactHeader {
    font-size: 1.5rem;
    margin: 3rem auto 1rem;
  }

  .connect {
    margin: auto;
  }

  .icons {
    width: fit-content;
    margin: auto auto 2rem;
  }
}