.expertise {
  width: 90%;
  margin: auto;
}

.title {
  color: #069dff;
  font-size: 2rem;
  width: fit-content;
  margin: 7rem auto 3rem;
}

.skills {
  display: flex;
  justify-content: space-between;
}

.skills1{
  background-color: #fff;
  display: flow-root;
  border-radius: 5px;
  width: 19%;
}

@media screen and (max-width: 768px) {
  .skills {
    overflow-x: scroll;
  }  

  .skills1 {
    width: 15rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 1.5rem;
    margin: 3rem auto;
  }

  .skills {
    display: flex;
  }
}