:root {
  --bgColor: #fafafa;
  --mainColor: #1c1919;
  --lightMain: #a4a4a5;
  --secondary: #069dff;
  --lightSecondary: #e2f1fb;
  --cardsBg: #fff;
}

.expertise {
  width: 90%;
  margin: auto;
}

.title {
  color: var(--secondary);
  font-size: 2rem;
  width: fit-content;
  margin: 7rem auto 3rem;
}

.skills {
  display: flex;
  justify-content: space-between;
}

.skills1{
  background-color: var(--cardsBg);
  display: flow-root;
  border-radius: 5px;
  width: 19%;
}

@media screen and (max-width: 768px) {
  .skills {
    overflow-x: scroll;
  }  

  .skills1 {
    width: 15rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 1.5rem;
    margin: 3rem auto;
  }

  .skills {
    display: flex;
  }
}