:root {
  --bgColor: #fafafa;
  --mainColor: #1c1919;
  --lightMain: #a4a4a5;
  --secondary: #069dff;
  --lightSecondary: #e2f1fb;
  --cardsBg: #fff;
}

.intro {
  height: 90vh;
  width: 70%;
  margin: 10vh auto auto auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.introLeft {
  width: 80%;
}

.intro2 {
  font-size: 3.7em;
  font-weight: 600;
  font-family: blenda;
  overflow: hidden;
  white-space: nowrap;
  overflow-wrap: normal;
  border-right: 2px var(--secondary) solid;
  width: fit-content;
  animation: 
    typing 5s steps(100, end),
    cursor 2s step-end infinite;
}

.intro4 {
  font-size: 2em;
}

.intro5 {
  width: 60%;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100%; white-space: wrap; }
}

@keyframes cursor {
  from, to { border-color: transparent }
  50% { border-color: var(--secondary); }
}

.introName {
  font-weight: 500;
  color: var(--secondary);
}

.introButton {
  width: 25%;
  height: 40px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: var(--secondary);
  border: var(--secondary) 1px solid;
  color: var(--bgColor);
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  margin-top: 2rem;
}

.toggle input {
  display: none;
}

.toggle span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--secondary);
  transition: 0.4s;
  border-radius: 30px;
}

.toggle span:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 3px;
  bottom: 2.6px;
  background-color: var(--lightSecondary);
  border-radius: 50%;
  transition: 0.4s;
}

.toggle input:checked + span:before {
  transform: translateX(30px);
}

.introRight {
  background-image: linear-gradient(var(--secondary), var(--bgColor));
  background-color: #069dff;
  height: 3rem;
  width: 3rem;
  border-radius: 50% 50% 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 
    lightShade 8s infinite;
}

@keyframes lightShade {
  0% {transform: translate(200px, 270px) }
  50% {transform: translate(-1100px, 270px) rotate(-360deg);}
  100% {transform: translate(200px, 270px);}
}

.introRight > img {
  height: 90vh;
}

.introDown {
  font-size: 2rem;
  font-weight: 600;
  background-color: var(--lightSecondary);
  height: 10vh;
}

.introDown1 {
  width: 90%;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.introDown2 {
  color: var(--secondary);
  font-size: 2rem;
}

.introDown3 {
  width: 25%;
  display: flex;
  align-items: center;
  line-height: 25px;
}

.introDown3ImDiv {
  width: 30%;
}

.introDown3 img {
  width: 100%;
  height: 5rem;
}

@media screen and (max-width: 768px) {
  .deskOnly {
    display: none;
  }

  .intro {
    font-size: 1.2rem;
  }
  
  .introLeft {
    width: 50%;
  }

  .intro1 {
    margin-bottom: 1rem;
  }
  
  .intro2 {
    font-size: 1.5em;
    margin-bottom: 1rem;
  }
  
  .introRight {
    background-image: linear-gradient(var(--secondary), var(--bgColor));
    width: 30%;
    height: 50%;
    border-radius: 50% 50% 50% 50%;
    margin: 0;
    animation: none;
  }

  .introDown3 {
    font-size: 1rem;
  }

  .intro4 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  body {
    min-width: 375px;
  }

  .tablet {
    display: none;
  }

  .home {
    background-image: radial-gradient(var(--secondary), var(--bgColor), var(--bgColor));
    background-size: contain;
    height: 100vh;
  }

  .introLeft {
    width: 100%;
  }
}
