.projects {
  width: 90%;
  margin: auto;
}

.title {
  color: #069dff;
  font-size: 2rem;
  width: fit-content;
  margin: 7rem auto 3rem;
}

.projectsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projectsSection1 {
  background-color: #fff;
  width: 30%;
  display: flow-root;
  border-radius: 5px;
  margin-bottom: 2rem;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 1.5rem;
    margin: 3rem auto;
  }

  .projectsSection {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .projectsSection1 {
    width: 15rem;
    margin-right: 2rem;
  }
}