:root {
  --bgColor: #fafafa;
  --mainColor: #1c1919;
  --lightMain: #a4a4a5;
  --secondary: #069dff;
  --lightSecondary: #e2f1fb;
  --cardsBg: #fff;
}

.footer {
  background-color: var(--secondary);
  color: var(--lightSecondary);
}

.footer1 {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 10px 0;
}

.icons{
  display: flex;
}

.iconDiv {
  width: 30px;
  margin: 20px 10px 0 0;
}

.icon {
  width: 100%;
  color: var(--lightSecondary);
  background-color: var(--lightSecondary);
}

@media screen and (max-width: 768px) {
  .deskOnly {
    display: none;
  }  

  .footer1 {
    font-size: 1rem;
  }
}