.header {
  height: 10vh;
  width: 100%;
  background-color: #fafafa;
  position: fixed;
  top: 0;
}

.headerr {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.header1 {
  color: #069dff;
  font-size: 3rem;
}

.header2 {
  color: #1c1919;
  display: flex;
  align-items: center;
}

.headerLink {
  margin: 0 30px;
  color: #1c1919;
  text-decoration: none;
}

.headerLink:active {
  color: #069dff;
}