:root {
  --bgColor: #fafafa;
  --mainColor: #1c1919;
  --lightMain: #a4a4a5;
  --secondary: #069dff;
  --lightSecondary: #e2f1fb;
  --cardsBg: #fff;
}

.menu, .menuDiv {
  display: none;
}

.header {
  height: 10vh;
  width: 100%;
  background-color: var(--bgColor);
  position: fixed;
  top: 0;
}

.headerr {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.header1 {
  color: var(--secondary);
  font-size: 3rem;
}

.header2 {
  color: var(--mainColor);
  display: flex;
  align-items: center;
}

.headerLink {
  margin: 0 30px;
  color: var(--mainColor);
  text-decoration: none;
}

.headerLink:hover {
  font-size: large;
  transition: 0.2s;
}

.headerLink:active {
  color: var(--secondary);
}

@media screen and (max-width: 768px) {
  .header1 {
    font-size: 2.5rem;
  }

  .headerLink {
    margin: 0 0 0 15px;
  }
}

@media screen and (max-width: 480px) {
  .tablet {
    display: none;
  }

  .headerr {
    width: 100%;
  }

  .menuDiv {
    width: 10%;
    margin-left: 20px;
    align-self: center;
    display: block;
  }

  .menuDiv > img {
    width: 100%;
  }

  .imDiv {
    width: 10%;
    margin: 30px;
  }

  .imDiv > img {
    width: 100%;
  }

  .menu {
    display: block;
    height: 100vh;
    background-color: var(--secondary);
    background-image: radial-gradient(var(--bgColor), var(--secondary));
    width: 100%;
    position: fixed;
  }

  .headerLinkDiv {
    margin: 30px;
  }

  .headerLink {
    width: 100%;
    font-size: 1.5rem;
  }
}