.header {
  height: 10vh;
}

.headerr {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.header1 {
  color: #069dff;
  font-size: 3rem;
}

.header2 {
  color: #1c1919;
  display: flex;
  align-items: center;
}

.headerLink {
  margin: 10px;
}