:root {
  --bgColor: #fafafa;
  --mainColor: #1c1919;
  --lightMain: #a4a4a5;
  --secondary: #069dff;
  --lightSecondary: #e2f1fb;
  --cardsBg: #fff;
}

.card {
  background-color: var(--cardsBg);
  display: flow-root;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.imgDiv {
  width: 100%;
  height: 12rem;
}

.imgDiv > img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}

.imgDiv > img:hover {
  transform: scale(0.95);
  transition: 1s;
}

.projectInfo {
  margin: 1.5rem;
}

.projectName {
  font-weight: bolder;
  margin-bottom: 5px;
}

.projectDetails {
  color: var(--lightMain);
  margin-bottom: 5px;
}

.liveDemo {
  height: 40px;
  margin-top: 20px;
  margin-right: 15px;
  border-radius: 5px;
  background-color: var(--secondary);
  border: var(--secondary) 1px solid;
  color: var(--bgColor);
  width: 40%;
}

.source {
  background-color: inherit;
  color: var(--secondary);
}

@media screen and (max-width: 768px) {
  .card {
    display: flow-root;
    border-radius: 5px;
    margin-bottom: 2rem;
    height: 15rem;
    overflow-y: scroll;
  }

  .imgDiv {
    width: 100%;
    height: 8rem;
  }

  .liveDemo {
    width: 35%;
  }

  .source {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .card {
    background-color: var(--cardsBg);
    width: 15rem;
    display: flow-root;
    border-radius: 5px;
    margin-bottom: 2rem;
  }
}