.card {
  background-color: #fff;
  display: flow-root;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
}

.imgDiv {
  width: 50%;
  margin: 1.5rem auto 1rem;
  background-color: #e2f1fb;
  height: 80px;
  border-radius: 5px;
  display: flex;
}

.imgDiv > img {
  width: 80%;
  margin: auto;
  height: 80%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .card {
    width: 15rem;
    margin-right: 20px;
  }  
}

@media screen and (max-width: 480px) {
  .card {
    width: 10rem;
    height: 100%;
    font-size: 1.5rem;
  }
}