:root {
  --bgColor: #fafafa;
  --mainColor: #1c1919;
  --lightMain: #a4a4a5;
  --secondary: #069dff;
  --lightSecondary: #e2f1fb;
  --cardsBg: #fff;
}

.card {
  background-color: var(--cardsBg);
  display: flow-root;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 5px;
}

.imgDiv {
  width: 50%;
  margin: 1.5rem auto 1rem;
  background-color: var(--lightSecondary);
  height: 80px;
  border-radius: 5px;
  display: flex;
}

.imgDiv > img {
  width: 80%;
  margin: auto;
  height: 80%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .card {
    width: 15rem;
    margin-right: 20px;
  }  
}

@media screen and (max-width: 480px) {
  .card {
    width: 10rem;
    height: 100%;
    font-size: 1rem;
  }
}