:root {
  --bgColor: #fafafa;
  --mainColor: #1c1919;
  --lightMain: #747475;
  --secondary: #069dff;
  --lightSecondary: #e2f1fb;
  --cardsBg: #fff;
}

.dark {
  --bgColor: #102020;
  --mainColor: #abba82;
  --lightMain: #74a475;
  --secondary: #a7b5b7;
  --lightSecondary:  #183033;
  --cardsBg: #285158;
}

@font-face {
  font-family: robotoSlab;
  src: url(images/font/RobotoSlab-Thin.ttf);
}

@font-face {
  font-family: blenda;
  src: url(images/font/Blenda\ Script.otf);
}

.all {
  width: 100%;
  height: 100%;
  background-color: var(--bgColor);
  color: var(--mainColor);
  font-family: robotoSlab;
  font-weight: bolder;
}

button:hover {
  cursor: pointer;
  font-size: large;
  transition: 0.7s;
}

img:hover {
  opacity: 0.5;
  transition: 0.5s;
}
