:root {
  --bgColor: #fafafa;
  --mainColor: #1c1919;
  --lightMain: #a4a4a5;
  --secondary: #069dff;
  --lightSecondary: #e2f1fb;
  --cardsBg: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgColor);
  color: var(--mainColor);
}

/* body {
  background-color: #010101;
  color: #e8d199;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
